# Ignore Visual Studio folders
.vs/
bin/
obj/
*.user
*.suo
*.csproj.user
*.dbmdl
*.log

# Ignore build results
*.exe
*.dll
*.pdb

# Ignore temporary files
*.tmp
*.bak
*.cache
*.zip
*.msi

# Ignore system files
Thumbs.db
.DS_Store

# Ignore test & publish artifacts
TestResults/
*.publishsettings

# Ignore screenshots if you want them local only
# screenshots/
